<div class="bg-dark text-white">
  <h1>CONTATOS</h1>
  <div>
    <form action="" class="container py-2 mx-auto" style="padding: 20px">
      <div class="input-group flex-nowrap">
        <span class="input-group-text text-primary" style="margin-top: 10px"
          >NOME:
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          style="margin-top: 10px"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span
          class="input-group-text text-primary"
          style="margin-top: 10px"
          id="addon-wrapping"
          >E-mail:
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          style="margin-top: 10px"
        />
      </div>
      <div class="input-group flex-nowrap">
        <span class="input-group-text text-primary" style="margin-top: 10px"
          >TELEFONE:
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
          style="margin-top: 10px"
        />
      </div>
      <div>
        <label for="" class="text-primary">Digite seu texto:</label>
        <textarea
          name=""
          class="form-control"
          placeholder="Digite aqui:"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="container d-grid gap-2 py-2 mx-auto" style="padding: 20px">
    <button class="btn btn-primary" type="button">Button</button>
  </div>
</div>
