<div
  id="myCarousel"
  class="carousel slide mb-6"
  data-bs-ride="carousel"
  data-bs-interval="3000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class=""
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      class="active"
      aria-current="true"
    ></button>
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
      class=""
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg
        aria-hidden="true"
        class="bd-placeholder-img"
        height="100%"
        preserveAspectRatio="xMidYMid slice"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <div class="container">
        <div class="carousel-caption text-start">
          <h1>SPA</h1>
          <p class="opacity-75">
            Single Page Application
          </p>
          <p><a class="btn btn-lg btn-primary" routerLink="sobre">sobre</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        aria-hidden="true"
        class="bd-placeholder-img"
        height="100%"
        preserveAspectRatio="xMidYMid slice"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Temos os melhores produtos.</h1>
          <p>
           Procure aqui as melhores ofertas de produtos, as melhores taxas as melhores entrega
           seja tbm um franqueado e trabalhe com a gente.
          </p>
          <p><a class="btn btn-lg btn-primary" routerLink="servico">Serviços</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <svg
        aria-hidden="true"
        class="bd-placeholder-img"
        height="100%"
        preserveAspectRatio="xMidYMid slice"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="100%"
          height="100%"
          fill="var(--bs-secondary-color)"
        ></rect>
      </svg>
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>One more for good measure.</h1>
          <p>
            Entre em contatos com nossos representantes, para entender mais, caso queira ser um revendedor
            entamos te esperando!!!
          </p>
          <p><a class="btn btn-lg btn-primary" routerLink="contato">Contato</a></p>
        </div>
      </div>
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"> </span>
    <span class="visually-hidden"> Previous </span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"> </span>
    <span class="visually-hidden"> Next </span>
  </button>
</div>
