<app-header></app-header>
<div class="container text-center jumbotron bg-primary text-white p-5 rounded mb-4">
    <div  style="grid-template-columns: 1fr 1fr 1fr;" class="d-grid gap-5">
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
        <div class="col p-5 mb-4 bg-primary-subtle text-primary-emphasis">
            colon
        </div>
    </div>
</div>

<app-footer></app-footer>