<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <i class="bi bi-bootstrap me-2"></i>
      Meu App
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="bi bi-house"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/header" routerLinkActive="active">
            <i class="bi bi-header"></i>
            Header
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/footer" routerLinkActive="active">
            <i class="bi bi-footer"></i>
            Footer
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
