<header>
    <div class="px-3 py-2 text-bg-dark">

        <div class="container cont">


            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start divBox">


                <h1 class="text-primary text-opacity-75"><span class="border-bottom">Aula de ANGULAR com Prof
                        Nivaldo</span></h1>

                <a href="https://getbootstrap.com/"
                    class="link-body-emphasis link-offset-2 d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    Bootstrap
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" fill="currentColor"
                        class="bi bi-bootstrap" viewBox="0 0 16 16">
                        <path
                            d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z" />
                        <path
                            d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3z" />
                    </svg> </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 fs-5 gapSp">
                    <li> <a routerLink="/home"
                            class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                class="bi bi-house" viewBox="0 0 16 16">
                                <path
                                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                            </svg>
                            Home
                        </a> </li>
                    <li> <a routerLink="/sobre"
                            class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                            </svg>
                            Sobre
                        </a> </li>
                    <li> <a routerLink="/contatos"
                            class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                class="bi bi-chat-right-fill" viewBox="0 0 16 16">
                                <path
                                    d="M14 0a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                            </svg>
                            Contatos
                        </a> </li>
                    <li> <a routerLink="galeria"
                            class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                                class="bi bi-grid-3x3-gap" viewBox="0 0 16 16">
                                <path
                                    d="M4 2v2H2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1m0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1M9 2v2H7V2zm5 0v2h-2V2zM4 7v2H2V7zm5 0v2H7V7zm5 0h-2v2h2zM4 12v2H2v-2zm5 0v2H7v-2zm5 0v2h-2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1z" />
                            </svg>
                            Galeria
                        </a>
                </ul>
            </div>

        </div>

    </div>

    <div class="px-3 py-4 border-bottom mb-3">

        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
            <div class="text-end">
                <button type="button" class="btn btn-light text-dark me-2">Login</button>
                <button type="button" class="btn btn-primary">Sign-up</button>
            </div>
        </div>
    </div>
</header>