
  * {
            margin: 0;
            padding: 0;
            justify-items: center;
            text-align: center;
        }

        header{
            width: 225%;
            padding: 50px;
            margin: 10px;
            background: blue;
            color: white;
            font-weight: bold;
        }

        caption {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 3rem;
            margin: 5px;
            padding: 50px;
        }

        table {
            width: 50rem;
            padding: 20px;
            margin: 10px;
            font-size: 2rem;
            border-collapse: collapse;
            box-shadow: 0 0 20px;
        }

        thead tr {
            background-color: rgb(198, 225, 248);
        }

        thead {
            border: solid 1px;
        }

        tr {
            border: solid 1px;
        }

        th {
            padding: 10px;
        }

        td {
            padding: 10px;
            border: solid 1px;
        }

        #total {
            text-align: end;
            border: none;
        }

        thead,
        tbody {
            background-color: aqua
        }

        .coll {
            background-color: white;
        }

        label {
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 5px;
            border: solid 1px;
            border-radius: 8px;
        }

        form {
            border-radius: 8px;
            justify-items: center;
            width: 350px;
            margin-top: 60px;
            padding: 20px;
            background-color: whitesmoke;
            box-shadow: 0 0 20px black;
        }
        select{
            padding: 5px;
            margin-top: 10px;
            border-radius: 5px;
        }

        .enviar{
            padding: 5px;
            border-radius: 5px;
            background-color: rgb(0, 47, 255);
            color: white;
            border: solid 1px;
        }

        .enviar:hover{
            background: rgb(47, 47, 197);
        }
        .limpar{
            padding: 5px;
            border-radius: 5px;
            background-color: red;
            color: white;
            border: solid 1px;
        }
        .limpar:hover{
            background-color: rgb(212, 43, 43);
        }

        footer{
            width: 225%;
            padding: 50px;
            margin: 20px;
            background: blue;
            color: white;
            text-align: inherit;
        }


