<!-- Rodapé da Loja AngularStore -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      
      <!-- Informações da loja -->
      <div class="col-md-4 mb-3">
        <h5>Loja AngularStore</h5>
        <p>Sua loja de equipamentos para musculação e fitness.</p>
      </div>
      
      <!-- Links úteis -->
      <div class="col-md-4 mb-3">
        <h5>Links Úteis</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white-50">Política de Privacidade</a></li>
          <li><a href="#" class="text-white-50">Termos de Uso</a></li>
          <li><a href="#" class="text-white-50">Dúvidas Frequentes</a></li>
        </ul>
      </div>
      
      <!-- Contato -->
      <div class="col-md-4 mb-3">
        <h5>Contato</h5>
        <p class="text-white-50">
          Email: contato&#64;lojaangularstore.com.br<br>
          Telefone: (11) 99999-9999
        </p>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class="row border-top pt-3">
      <div class="col-12 text-center">
        <p class="text-white-50 mb-0">
          © {{currentYear}} Loja AngularStore. Todos os direitos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>