body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
}

#clientes-container {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
}

.cliente {
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
}