<section id="sobre" class="container my-5" >
  <div class="text-center bg-dark text-primary">
    <i class="bi bi-info-circle-fill fs-1 text-primary"></i>
    <h2 class="mt-3 text-warning">Sobre o WebSite</h2>
    <p class="lead mt-3">
      O <strong class="text-white">WebSite</strong> é uma plataforma moderna desenvolvida para 
      apresentar conteúdos, projetos e soluções digitais com praticidade e 
      design responsivo. Criado com tecnologias atuais, como Angular e Bootstrap, 
      ele oferece uma experiência fluida e intuitiva para todos os usuários.
    </p>
  </div>
</section>
